<!DOCTYPE html>
<html>
<head>
    <title>{{ strings.SITE_TITLE }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" media="screen" href="http://fontlibrary.org/face/minecraftia" type="text/css"/> 
</head>

<body style="background-image: url('{{ url_for('static', filename='dirt.png') }}');">
    <div id="status">
    {% if not status %}
    	<p>{{ strings.SERVER_DOWN }}</p>
    	<p>{{ strings.SERVER_DOWN_IMG }}</p>
    	<img style="width: 100%" src="{{ url_for('static', filename='server_down.png') }}">
    {% else %}
    	<p>{{ strings.SERVER_UP }}{% if mc_dynmap_address %} <a href={{ mc_dynmap_address }}>Map</a>{% endif %}</p>
    	{% if not query %}
			<p>{{ strings.QUERY_DOWN }}</p>
		{% else %}
			{% if not online_players %}
    			<p>{{ strings.NO_PLAYERS }}</p>
        	{% else %}
    			<p>{{ num_players }} {{ strings.PLAYER_AMOUNT }}
        			<ul style="list-style-type: none">
            		{% for player in online_players %}
        				<li>{{ player }}</li>
            		{% endfor %}
        			</ul>
    			</p>
        	{% endif %}
        {% endif %}
    {% endif %}
    </div>
</body>

</html>
